*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --background: #e7e6e6;
  --primary: #ffffff;
  --fontColor: #000000;
  --taskItemBorderColor: rgba(0, 0, 0, 0.4);
  --borderColor: rgba(0, 0, 0, 0.15);
  --buttonBg: rgb(134, 162, 255);
  --addButton: rgba(8, 8, 8, 0.1);
}

.dark {
  --background: #121113;
  --primary: #000000;
  --fontColor: #ffffff;
  --taskItemBorderColor: rgba(255, 255, 255, 0.4);
  --borderColor: rgba(255, 255, 255, 0.1);
  --buttonBg: rgb(9, 15, 99);
  --addButton: rgba(34, 33, 33, 0.7);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--background);
  color: var(--fontColor);
  transition: color 0.3s ease, background 0.5s ease;
  padding: 0 20%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  padding-left: 22px;
  margin: 25px;
  margin-top: 10px;
  border-bottom: 1px solid var(--borderColor);
}

header #task-inp-form {
  margin: 20px;
  width: 40%;
}

#task-inp-form .inp-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-shadow: 0 0 1px 0 var(--taskItemBorderColor);
}
#task-inp-form .inp-task input {
  font-size: 16px;
  background: var(--primary);
  color: var(--fontColor);
  outline: none;
  width: 100%;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 0 1px 0 var(--taskItemBorderColor);
}

#task-inp-form .inp-task .add-button {
  height: 100%;
  width: 20%;
  display: grid;
  place-items: center;
  background-color: var(--addButton);
  transition: background 0.5s ease;
  opacity: 0.8;
}

#task-inp-form .inp-task .add-button .MuiSvgIcon-root {
  color: white;
}
#task-inp-form .inp-task input:focus + .add-button {
  background-color: #ce2e23;
}

#task-inp-form .inp-task input:focus + .add-button {
  opacity: 1;
}
.output-tasks {
  width: 100%;
  margin-bottom: 60px;
}

.output-tasks li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output-tasks li .s-no {
  width: 25px;
}

.output-tasks li .about-task {
  background: var(--primary);
  margin: 10px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 1px 0 var(--taskItemBorderColor);

  /* to avoid overflow in a single line */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.output-tasks li span {
  margin-left: 10px;
  text-transform: capitalize;
}

.output-tasks li .delete-task-button .MuiSvgIcon-root {
  opacity: 0.5;
  color: red;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-size: 27px;
}

.output-tasks li .delete-task-button .MuiSvgIcon-root:hover {
  opacity: 1;
}

.theme-change-button {
  background: transparent;
  outline: none;
  border: 0;
}

.theme-change-button .MuiSvgIcon-root {
  color: var(--fontColor);
}

.goto-top {
  position: fixed;
  bottom: 11px;
  left: 90%;
  visibility: hidden;
  background: var(--buttonBg);
  padding: 5px 12px;
  color: var(--fontColor);
  border: 0;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 1px 0 var(--taskItemBorderColor);
}

.goto-top::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: var(--buttonBg) transparent;
  bottom: -10px;
  left: 30%;
  border-width: 15px 10px 0 10px;
}

@media only screen and (max-width: 540px) {
  .app {
    padding: 0 10px;
  }

  header #task-inp-form {
    margin: 20px;
    width: 75%;
  }

  .goto-top {
    left: 77%;
  }
}
